body {
    height: 100vh; /* 确保页面覆盖整个视口 */
    margin: 0; /* 移除默认 margin */
    background-color: transparent; /* 右侧内容区的背景 */
}

/* 设置导航栏样式 */
.sidebar {
    background-color: #28a745; /* 绿色背景 */
    position: fixed; /* 固定定位 */
    top: 0; /* 顶部对齐 */
    left: 0; /* 左侧对齐 */
    height: 100vh; /* 确保高度铺满 */
    z-index: 100; /* 确保在其他元素之上 */
    padding: 48px 0 0; /* 上部留白 */
    width: 200px; /* 固定宽度 */
}

.nav-link {
    color: #fff; /* 导航链接颜色 */
}

.nav-link:hover {
    color: #fff; /* 悬停时链接颜色 */
}

.nav-link.active {
    font-weight: bold; /* 活动链接加粗 */
    color: #ffd700; /* 活动链接颜色 */
}
