 /*主容器 */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px); /* 减去顶部和底部的高度 */
    gap: 20px; /* 调整模块之间的间距 */
    margin-top: -20px; /* 使模块整体向上移动 */
}

/* 大模块样式 */
.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2ba245;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px; /* 圆角 */
    cursor: pointer;
    height: 200px;
    width: 80%; /* 调整容器宽度 */
    max-width: 600px; /* 限制最大宽度 */
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.bar-chart {
    display: flex;
    align-items: flex-end;
    width: 200px;
    height: 100px;
    background-color: #2ba245;
    margin: 0 auto;
}

.bar {
    width: 100px;
    margin: 0 5px;
    background-color: #00BFFF;
    text-align: center;
    color: #fff;
    font-size: 15px;
}

.bar1 { height: 75%; }
.bar2 { height: 50%; }
.bar3 { height: 90%; }

.dashboard:hover {
    transform: scale(1.05); /* 鼠标悬停时放大 */
    background-color: #228b3f;
}

/* 横向排列的容器 */
.grid-container {
    display: flex;
    justify-content: space-around;
    width: 80%; /* 调整容器宽度 */
    max-width: 800px; /* 限制最大宽度 */
    gap: 10px;   //修改模块直接的间隔
}

/* 单个模块样式 */
.module {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2ba245;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px; /* 圆角 */
    cursor: pointer;
    height: 150px;
    width: 25%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.module:hover {
    transform: scale(1.05); /* 鼠标悬停时放大 */
    background-color: #228b3f;
}



.divider {
    position: absolute;
    left: 0;
    bottom: 80px;
    width: 100%; /* 让横线水平占满容器宽度 */
    height: 1px; /* 设置横线的高度 */
    background-color: #2ba245; /* 横线颜色 */
}

/* 设置按钮样式 */
.btn-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px; /* 按钮容器的内边距，可根据需要调整 */
    box-sizing: border-box; /* 让 padding 不影响元素的宽度 */
    z-index: 1000; /* 确保按钮在其他内容之上 */

}

.btn {
    width: 60px;
    height: 60px;
    background-color: #2ba245; /* 将背景色改为绿色 */
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
}




/* 父容器样式 */
.title-container {
    text-align: center;
}

/* 标题样式 */
.title {
    font-weight: bold;
    color: #2ba245;
    padding-top: 20px;
    font-size: 25px; /* 添加字体大小属性 */
}






.divider {
    position: absolute;
    left: 0;
    bottom: 80px;
    width: 100%; /* 让横线水平占满容器宽度 */
    height: 1px; /* 设置横线的高度 */
    background-color: #2ba245; /* 横线颜色 */
}


/* 设置按钮样式 */
.btn-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px; /* 按钮容器的内边距，可根据需要调整 */
    box-sizing: border-box; /* 让 padding 不影响元素的宽度 */
    z-index: 1000; /* 确保按钮在其他内容之上 */



}

.btn {
    width: 60px;
    height: 60px;
    background-color: #2ba245; /* 将背景色改为绿色 */
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
}



/* 针对苹果设备的样式 */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    .table-container table,
    .table-container table th,
    .table-container table td {
        border: 1px solid #2ba245; /* 确保边框明显 */
    }

    .product-table.danger {
        border: 2px solid red;

    }

    .btn {
        width: 60px;
        height: 60px;
        background-color: #2ba245; /* 将背景色改为绿色 */
        color: #fff;
        border: none;
        border-radius: 50%;
        font-size: 24px;
        cursor: pointer;
        justify-content: flex-start; /* 将内容对齐到左侧 */
        padding-left: 19.5px; /* 此处是更改苹果手机里下方三个按钮里的图标位置,调整内边距,但是还有点偏好奇怪 */
    }



}