<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>钉钉H5微应用</title>
    <!-- 引入字体图标库 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- 引入外部CSS文件 -->
    <link rel="stylesheet" href="/css/DQEprofile.css">

    <script src="https://g.alicdn.com/dingding/dingtalk-jsapi/3.0.25/dingtalk.open.js"></script>


</head>
<body>




<header>


    <div class="title-container">
        <div class="title">个人页面</div>
    </div>

    <div class="content">
        <div class="username" id="username">username，你好！</div>
        <div class="construction-message">本页面建设中，不好意思！<br>暂时只提供DQE更改模板的按钮：</div>
        <div class="upload-download-container">
            <button class="download-btn" id="downloadBtn" style="display: none;">下载模板</button>

            <button class="upload-btn" id="uploadBtn" style="display: none;">上传模板</button>

            <button class="skipDQE-btn" id="skipDQEBtn" style="display: none;">切换到测试人员页面</button>
        </div>
    </div>

    <!-- 下载模态框 -->
    <div id="downloadModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>选择分类</h2>
                <span class="downloadclose">&times;</span>
            </div>
            <div id="categoryList"></div>
            <div id="fileList"></div>
        </div>
    </div>

    <!-- 上传模态框 -->
    <div id="uploadModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>选择分类</h2>
                <span class="uploadclose">&times;</span>
            </div>
            <div id="uploadList"></div>
            <div id="uploadfileList"></div>
        </div>
    </div>

    <!-- 模态框 -->
    <div id="modal" class="modal">
        <!-- 其他模态框内容 -->
        <div id="uploadProgressContainer" class="progress-container" style="display: none;">
            <div id="uploadProgressBar" class="progress-bar">
                <div id="uploadProgressFill" class="progress-fill"></div>
            </div>
            <div id="uploadProgressText" class="progress-text">0%</div>
        </div>
    </div>
<!--    文件选择框-->
    <input type="file" id="fileInput" style="display: none;">



    <!-- 下方固定按钮 -->
    <div class="btn-container">
        <hr class="divider"> <!-- 按钮上方的横线 -->
        <!-- 主页按钮 -->
        <button class="btn" id="homeBtn"><i class="fas fa-home"></i></button>
        <!-- 搜索资源库按钮 -->
        <button class="btn" id="cloudBtn"><i class="fas fa-cloud"></i></button>
        <!-- 个人界面按钮 -->
        <button class="btn" id="profileBtn"><i class="fas fa-user"></i></button>
    </div>


    <!-- 引入 jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        const corp_id = sessionStorage.getItem('corp_id');
        const BASE_DIRECTORY = sessionStorage.getItem('templatespath');

        $(document).ready(function() {

            $.ajax({
                url: '/getJsapiConfig',
                type: 'GET',
                data: { url: encodeURIComponent(location.href.split('#')[0]) },
                success: function(config) {
                    // 使用获取的配置信息初始化钉钉JSAPI
                    dd.config({
                        agentId: config.agentId,
                        corpId: config.corpId,
                        timeStamp: config.timeStamp,
                        nonceStr: config.nonceStr,
                        signature: config.signature,
                        jsApiList: config.jsApiList // 必填，需要使用的jsapi列表
                    });
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });


            // 从本地存储中获取用户名
            const username = sessionStorage.getItem('username');
            const job = sessionStorage.getItem('job');

            // 检查用户名是否存在
            if (username) {
                $('#username').text(username + '，你好！');
            } else {
                $('#username').text('用户，你好！');
            }
            // 下载模态框
            var downloadModal = document.getElementById('downloadModal');
            var downloadBtn = document.getElementById('downloadBtn');
            var downCloseBtn = document.getElementsByClassName('downloadclose')[0];
            downloadModal.style.display = 'none';
            // 生上传模态框
            var uploadModal = document.getElementById('uploadModal');
            var uploadBtn = document.getElementById('uploadBtn');
            var upCloseBtn = document.getElementsByClassName('uploadclose')[0];

            var skipDQEBtn = document.getElementById('skipDQEBtn');


            uploadModal.style.display = 'none';

            // 点击下载按钮打开模态框
            downloadBtn.onclick = function() {
                downloadModal.style.display = 'block';
                loadCategories();
            }

            // 点击关闭按钮或模态框外部区域关闭模态框
            downCloseBtn.onclick = function() {
                downloadModal.style.display = 'none';
            }

            // 点击上传按钮打开模态框
            uploadBtn.onclick = function() {
                uploadModal.style.display = 'block';
                loadCategoriesUp();
            }

            // 点击关闭按钮或模态框外部区域关闭模态框
            upCloseBtn.onclick = function() {
                uploadModal.style.display = 'none';
            }

            // 点击关闭按钮或模态框外部区域关闭模态框
            skipDQEBtn.onclick = function() {
                window.location.href = '/testManIndex';
            }

            // 检查职位信息中是否包含 "DQE"，根据条件显示按钮
            if (job.includes("DQE") || username==="卢健") {
                $('#downloadBtn').show(); // 显示下载模板按钮
                $('#uploadBtn').show(); // 显示上传模板按钮

            }

            if(username === "卢健"){
                $('#skipDQEBtn').show(); // 显示上传模板按钮
            }


            var categoryListContainer = document.getElementById("categoryList");
            var fileListContainer = document.getElementById("fileList");

            var uploadListContainer = document.getElementById("uploadList");
            var uploadfileListContainer = document.getElementById("uploadfileList");


            function loadCategories() {
                $.ajax({
                    url: '/home/getFileCategories',
                    type: 'GET',
                    success: function (data) {
                        categoryListContainer.innerHTML = '';
                        data.forEach(function (category) {
                            var div = document.createElement('div');
                            div.className = 'category-item';
                            div.innerText = category;
                            div.onclick = function () {
                                loadFiles(category);
                            };
                            categoryListContainer.appendChild(div);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error('Failed to retrieve categories:', status, error);
                    }
                });
            }

            function loadFiles(category) {
                $.ajax({
                    url: '/home/getFiles?category=' + category,
                    type: 'GET',
                    success: function (fileData) {
                        // 记录当前选择的是什么品类
                        selectCategory = category;

                        fileListContainer.innerHTML = '';
                        fileData.forEach(function (file) {
                            var div = document.createElement('div');
                            div.className = 'file-item';
                            div.innerText = file.name;
                            if (file.type === 'directory') {
                                div.classList.add('folder');
                                div.onclick = function () {
                                    loadFiles(category + '/' + file.name);
                                };
                            } else {
                                if (file.name.endsWith('.xlsx')) {
                                    div.classList.add('file', 'xlsx-file');
                                    div.onclick = function () {
                                        selectedFilePath = BASE_DIRECTORY + '/' + category + '/' + file.name;
                                        dingdingDownloadFile(selectedFilePath);
                                    };
                                }
                            }
                            fileListContainer.appendChild(div);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error('Failed to retrieve files:', status, error);
                    }
                });
            }

            function dingdingDownloadFile(filepath) {
                // 选择联系人
                dd.biz.contact.choose({
                    multiple: false,
                    users: [],
                    corpId: corp_id,
                    max: 1,
                    onSuccess: function (data) {
                        const selectedUserId = data[0].emplId; // 获取单个用户ID

                        // 选择钉盘目录
                        dd.chooseDingTalkDir({
                            corpId: corp_id, // 企业ID
                            onSuccess: function (res) {
                                const selectedDirId = res.data[0].dirId; // 获取选中的目录ID
                                const selectedSpaceId = res.data[0].spaceId; // 获取选中的空间ID

                                // 获取应用免登授权码
                                dd.runtime.permission.requestAuthCode({
                                    corpId: corp_id,
                                    onSuccess: function (result) {
                                        const authCode = result.code; // 获取到授权码
                                        // 发起后端请求上传文件和发送文件
                                        $.ajax({
                                            url: '/testManIndex/uploadFileToDingtalk',
                                            type: 'POST',
                                            data: {
                                                filepath: filepath,
                                                dirId: selectedDirId,
                                                spaceId: selectedSpaceId,
                                                authCode: authCode,
                                                receiverId: selectedUserId
                                            },
                                            success: function (response) {
                                                alert('文件上传并发送成功');
                                                hideLoading(); // 隐藏加载提示框
                                            },
                                            error: function (xhr, status, error) {
                                                alert('文件上传发送失败: ' + error);
                                                hideLoading(); // 隐藏加载提示框
                                            }
                                        });
                                    },
                                    onFail: function (err) {
                                        alert('获取授权码失败：' + JSON.stringify(err));
                                        hideLoading(); // 隐藏加载提示框
                                    }
                                });
                            },
                            fail: function (err) {
                                alert('选择目录失败：' + JSON.stringify(err));
                                hideLoading(); // 隐藏加载提示框
                            }
                        });
                    },
                    onFail: function (err) {
                        alert("选择联系人出错" + err);
                        hideLoading();// 隐藏加载提示框
                    }
                });
            }

            // 上传按钮
            function loadCategoriesUp() {
                $.ajax({
                    url: '/home/getFileCategories',
                    type: 'GET',
                    success: function (data) {
                        uploadListContainer.innerHTML = '';
                        data.forEach(function (category) {
                            var div = document.createElement('div');
                            div.className = 'category-item';
                            div.innerText = category;
                            div.onclick = function () {
                                loadFilesUp(category);
                            };
                            uploadListContainer.appendChild(div);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error('Failed to retrieve categories:', status, error);
                    }
                });
            }

            function loadFilesUp(category) {
                $.ajax({
                    url: '/home/getFiles?category=' + category,
                    type: 'GET',
                    success: function (fileData) {
                        // 记录当前选择的是什么品类
                        selectCategory = category;

                        uploadfileListContainer.innerHTML = '';
                        fileData.forEach(function (file) {
                            var div = document.createElement('div');
                            div.className = 'file-item';
                            div.innerText = file.name;
                            if (file.type === 'directory') {
                                div.classList.add('folder');
                                div.onclick = function () {
                                    loadFilesUp(category + '/' + file.name);
                                };
                            } else {
                                if (file.name.endsWith('.xlsx')) {
                                    div.classList.add('file', 'xlsx-file');
                                    div.onclick = function () {
                                        selectedFilePath = BASE_DIRECTORY + '/' + category + '/' + file.name;
                                        if (confirm('是否上传模板文件到这个目录下?')) {
                                            // 用户选择覆盖
                                            uploadTemplate(selectedFilePath, 'overwrite');
                                        }
                                    };
                                }
                            }
                            uploadfileListContainer.appendChild(div);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error('Failed to retrieve files:', status, error);
                    }
                });
            }

            function uploadTemplate(selectedFilePath, action) {
                // 设置data-action属性
                document.getElementById('fileInput').setAttribute('data-action', action);
                // 触发文件选择对话框
                document.getElementById('fileInput').click();
            }

            // 文件输入框change事件监听
            document.getElementById('fileInput').addEventListener('change', function(event) {
                const file = event.target.files[0];
                if (file) {
                    // 检查文件大小
                    if (file.size > 50 * 1024 * 1024) { // 50MB
                        alert('文件大小超过50MB，请选择较小的文件。');
                        return;
                    }else if(file.size > 10 * 1024 * 1024){
                        alert('文件大小超过10MB，可能会耗时较久，请耐心等待！');
                    }

                    const chunkSize = 5 * 1024 * 1024; // 5MB per chunk
                    const totalChunks = Math.ceil(file.size / chunkSize);
                    let currentChunk = 0;

                    const selectedFilePath = BASE_DIRECTORY + '/' + selectCategory + '/' + file.name;
                    const action = this.getAttribute('data-action');

                    // 显示进度条
                    const progressContainer = document.getElementById('uploadProgressContainer');
                    const progressBarFill = document.getElementById('uploadProgressFill');
                    const progressBarText = document.getElementById('uploadProgressText');
                    progressContainer.style.display = 'block';

                    function uploadChunk() {
                        const start = currentChunk * chunkSize;
                        const end = Math.min(file.size, start + chunkSize);
                        const chunk = file.slice(start, end);
                        const formData = new FormData();
                        formData.append('file', chunk);
                        formData.append('path', selectedFilePath);
                        formData.append('action', action);
                        formData.append('chunk', currentChunk);
                        formData.append('totalChunks', totalChunks);

                        fetch('/DQEprofile/uploadTemplateChunk', {
                            method: 'POST',
                            body: formData
                        }).then(response => {
                            if (response.ok) {
                                // Calculate overall progress
                                const progress = Math.round((currentChunk + 1) / totalChunks * 100);
                                progressBarFill.style.width = progress + '%';
                                progressBarText.textContent = progress + '%';

                                currentChunk++;
                                if (currentChunk < totalChunks) {
                                    uploadChunk();
                                } else {
                                    // Reset progress bar after upload is complete
                                    progressBarFill.style.width = '0%';
                                    progressBarText.textContent = '0%';
                                    progressContainer.style.display = 'none';
                                    alert('文件上传成功。');
                                    loadFilesUp(selectCategory);
                                }
                            } else {
                                alert('文件上传失败。');
                                progressContainer.style.display = 'none';
                            }
                        }).catch(error => {
                            console.error('文件上传错误:', error);
                            progressContainer.style.display = 'none';
                        });
                    }

                    uploadChunk();
                }
            });

        });




        // 下方三个按钮跳转页面
        const homeBtn = document.getElementById('homeBtn');
        const cloudBtn = document.getElementById('cloudBtn');
        const profileBtn = document.getElementById('profileBtn');
        // 添加点击事件监听器
        $(homeBtn).click(function() {
            // 跳转到主页
            window.location.href = '/DQEIndex';
        });

        $(cloudBtn).click(function() {
            let userRole = 'DQE'; // 示例角色，可以动态获取
            // 跳转到搜索资源库页面
            window.location.href = `/durationTable?dd_orientation=landscape&role=${userRole}`;
        });

        $(profileBtn).click(function() {
            // 跳转到个人界面页面
            window.location.href = '/DQEprofile';
        });





    </script>
</header>
</body>
</html>
